@import "variables";

.masthead {
    & .masthead__question {
        @include smb-fonts;
        color: $header-question-color;
    }
    & .masthead__heading {
        @include lg-fonts;
        color: $bg-heading-color;
    }
    & .masthead__heading--create {
        padding-bottom: 15px;
    }
    & .masthead__image {
        width: 100%;
        border-radius: 18px;
        margin-left: 10px;
        margin-right: 17px;

    }
    & .masthead__heading--story {
        padding-top: 22px;
    }
    & .masthead__paragraph {
        @include smn-fonts;
        color: $paragraph-color;
        padding-bottom: 33px;
        padding-top: 31px;
    }
}


@media (min-width: 1000px) {
    .masthead__container1 {
        width: 450px;
    }
    
    .masthead__container2 {
        width: 300px;
    }
    .masthead {
        & .masthead__question {
            @include md-fonts;
            color: $header-question-color;
        }
        & .masthead__heading {
            @include bg-heading
        }
        & .masthead__image {
            margin-left: 52px;
            margin-right: 56px;
        }
        & .masthead__heading--create {
            padding-top: 16px;
            padding-bottom: 42px;
        }
       
        & .masthead__heading--story {
            padding-top: 42px;
        }
        & .masthead__paragraph {
            @include prgraph;
            padding-bottom: 42px;
            padding-top: 42px;
        }  
    }    
}