@import "variables";

.section_quotes {
    padding-top: 100px;
    padding-bottom: 103px;
    & .section_quotes__quotes {
        @include lg-fonts;
        color: $bg-heading-color;
        padding-bottom: 27px;
    }
    & .section_quotes__author {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
}

.section_quotes__author--avatar {
    width: 100%;
    border-radius: 12px;
}

.section_quotes__author--name {
    @include lg-fonts;
    color: $bg-heading-color;
    padding-bottom: 12px;
}
.section_quotes__author--job {
    @include md-fonts;
    color: $form-label-color;
}

@media (min-width: 1000px) {
    .section_quotes {
        padding-bottom: 200px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        & .section_quotes__quotes {
            grid-column: 1 / 7;
            @include exlg-fonts;
            color: $bg-heading-color;
            padding-bottom: 36px;
        }
        & .section_quotes__author {
            grid-column: 1 / 4;
        }
    }
}