$bg-heading-color: #333333;
$paragraph-color: #4F4F4F;
$header-question-color: #2D9CDB;
$form-label-color: #828282;
$button-background: #2D9CDB;
$fieldset-background: #F2F2F2;
$base-color: #FFFFFF;
$intro-color: #EB5757;
$name-color: #A9A9A9;
$footer-background: #100E1D;